body {
  font-family: 'Lato', 'BlinkMacSystemFont', -apple-system, 'Roboto',
    'Lucida Sans';
}

.wrapper-AboutMe {
  text-align: center;
}

//ABOUT ME
.aboutMe-container {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 150px;
}

.aboutMe-grid {
  display: grid;
  grid-template-areas: 'aboutMe-img aboutMe-bio';
  grid-template-columns: 1fr auto;
  //grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); same style as above?
  grid-gap: 20px;
  font-size: 17px;
  letter-spacing: 0.5px;
  #aboutMe-img {
    grid-area: aboutMe-img;
    object-fit: cover;
    width: 400px;
    height: 400px;
    background: url(../images/aboutMe01.png);
    background-size: cover;
  }
  #aboutMe-bio {
    grid-area: aboutMe-bio;
    text-align: justify;
    h3 {
      text-align: center;
    }
  }
}
@media (max-width: 1000px) {
  .aboutMe-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .aboutMe-grid {
    #aboutMe-img {
      display: none;
    }
    grid-template-areas:
      'aboutMe-bio'
      'aboutMe-img';
  }
}

//EXPERTISE AND EXPERIENCE
.expertise-container {
  padding-left: 150px;
  padding-right: 150px;
}

.expertise-divider {
  padding-top: 100px;
  padding-bottom: 20px;
}

.expertise-grid {
  display: grid;
  grid-template-areas: 'Front-End Back-End Others';
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 100px;
  .Back-End {
    grid-area: Back-End;
  }
  .Front-End {
    grid-area: Front-End;
  }
  .Others {
    grid-area: Others;
  }
  .Back-End,
  .Front-End,
  .Others {
    ul {
      line-height: 180%;
      list-style-type: none;
    }
  }
}
@media (max-width: 1000px) {
  .expertise-grid {
    grid-template-areas:
      'Front-End Back-End'
      'Others';
  }
}

@media (max-width: 700px) {
  .expertise-grid {
    grid-template-areas:
      'Front-End'
      'Back-End'
      'Others';
  }
}

//PARALLAX
.parallax02-mgs {
  background: url(../images/halfdome01.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 250px;
  color: white;
  text-align: center;
  position: relative;
  padding-top: 100px;
  text-shadow: 2px 2px 4px #000000;
  h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
  }
}

//FUN FACTS
#funFacts {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  p {
    text-align: justify;
    font-size: 20px;
    letter-spacing: 0.5px;
  }
  p:nth-child(3) {
    font-weight: bold;
  }
}

@media (max-width: 700px) {
  #funFacts {
    padding-left: 10px;
    padding-right: 10px;
  }
}
