.banner-wrapper {
  background: url(../images/header1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner-container {
  min-height: 650px;
  position: relative;
}

.banner-header {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  position: absolute;
  top: 60%;
  height: 10em;
  margin-top: -5em;
  width: 100%;
  h1 {
    font-weight: bold;
    font-size: 65px;
    padding: 0px 20px;
  }
  p {
    font-size: 30px;
    padding: 0px 20px;
  }
}
