.companies-wrapper {
  p {
    //padding-top: 100px;
    margin-top: 100px;
    text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc,
      1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc,
      3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc,
      5px 6px 1px #eee, 7px 6px 1px #ccc;
    letter-spacing: 1px;
    font-size: 20px;
  }
  text-align: center;
}

.companies-container {
  display: grid;
  grid-template-areas: 'cgi sunedison veritas wellsfargo01 outside2inside';
  // grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
  grid-template-columns: repeat(5, auto);
  grid-template-rows: auto;
  padding-left: 150px;
  padding-right: 150px;
  //height: 60px;
  // border: 1px solid black;
  //width: auto;
  //align-items: stretch;
  //text-align: center;
  div {
    text-align: center;
    // border: 1px solid black;
    padding: 20px;
    img {
      // border: 1px solid black;
      height: 80px;
      //width: 500px;
    }
  }

  .outside2inside {
    grid-area: outside2inside;
  }
  .cgi {
    grid-area: cgi;
  }
  .sunedison {
    grid-area: sunedison;
  }
  .veritas {
    grid-area: veritas;
  }
  .wellsfargo01 {
    grid-area: wellsfargo01;
  }
}

@media (max-width: 1000px) {
  .companies-wrapper {
    p,
    div {
      display: none;
    }
  }
}

@media (max-width: 1000px) {
  .companies-container {
    grid-template-areas:
      'cgi'
      'sunedison'
      'veritas'
      'wellsfargo01'
      'outside2inside';
  }
}
