.footer-grid {
  display: grid;
  grid-template-areas: 'footer-connect';
  grid-template-columns: 1fr;
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 25px;
  letter-spacing: 1px;
  height: 200px;
  #footer-connect {
    text-align: center;
    a {
      color: white;
      padding: 10px;
    }
  }
  #footer-create {
    grid-area: footer-create;
  }
}

@media (max-width: 700px) {
  .footer-grid {
    display: none;
  }
}
