//Image header
.wrapper-header-img {
  background: url(../images/header1.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  .inner {
    min-height: 600px;
    position: relative;
    background: rgba(0, 0, 0, 0.5)
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC)
      repeat;
  }

  .header-img-mgs {
    text-align: center;
    color: white;
    position: absolute;
    top: 60%;
    height: 10em;
    margin-top: -5em;
    width: 100%;
    h1 {
      margin: 0px;
      font-family: 'Roboto Slab', serif;
      font-weight: 400;
      font-size: 50px;
      padding: 0px 20px;
    }
    p {
      font-family: 'Noto Sans', sans-serif;
      font-size: 20px;
      padding: 0px 20px;
    }
  }
}
