// $header-bg-color: #00a096;
$header-bg-color: white;

body {
  margin: 0;
  font-size: 20px;
  font-family: 'Avenir', Arial, sans-serif;
}

//Header
.wrapper {
  .header--inner {
    border: 1px solid black;
    height: 90px;
    display: flex;
    align-items: center;
    background-color: $header-bg-color;
  }

  #logo {
    padding-left: 20px;
    color: black;
    #logo--link {
      display: block;
      letter-spacing: 5px;
      font-size: 35px;
      font-family: 'Bree Serif', serif;
    }
    #lassName {
      font-weight: bold;
      color: red;
    }
  }

  #nav {
    margin-left: auto;
    font-family: 'Bree Serif', serif;
    padding-right: 50px;
    .nav--link {
      color: black;
      padding: 0.5rem 1rem;
      text-decoration: none;
      &:hover {
        color: red;
      }
    }
  }
}

// [aria-controls='header-list'] {
//   display: none;
// }
// @media (max-width: 1000px) {
//   .header {
//     order: -1;
//     perspective: 800px;
//   }
//
//   [aria-controls='header-list'] {
//     display: block;
//     margin-bottom: 10px;
//   }
//
//   .header ul {
//     max-height: 0;
//     overflow: hidden;
//     transform: rotateX(90deg);
//     transition: all 0.5s;
//   }
//
//   [aria-expanded='true'] ~ ul {
//     display: grid;
//     max-height: 500px;
//     transform: rotateX(0);
//   }
// }
