.wrapper-parallax01 {
  background: url(../images/para01.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 200px;
  .parallax01-mgs {
    color: white;
    text-align: center;
    position: relative;
    padding-top: 80px;
    text-shadow: 2px 2px 4px #000000;
    //top: 10%;
    //width: 100%;
    h1 {
      text-transform: uppercase;
      margin: 0px;
      font-family: 'Roboto Slab', serif;
      font-weight: 400;
      font-size: 40px;
    }
  }
}

@media (max-width: 700px) {
  .wrapper-parallax01 {
    display: none;
  }
}
