.projects-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
}

.projects-container {
  display: grid;
  grid-template-areas:
    '1 2 3'
    '4 5 6';
  grid-gap: 15px;
  grid-template-rows: auto;
  font-family: 'Patrick Hand';
  #listOfProjects {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  div {
    text-align: center;
  }
  h2 {
    text-transform: capitalize;
    //color: black;
  }
  p {
    text-transform: uppercase;
    font-size: 15px;
  }
  a {
    color: black;
  }
}

@media (max-width: 1000px) {
  .projects-container {
    grid-template-areas:
      '1 2'
      '3 4'
      '5 6';
  }
}

@media (max-width: 700px) {
  .projects-container {
    grid-template-areas:
      '1'
      '2'
      '3'
      '4'
      '5'
      '6';
  }
}

.pokemonBattle:hover {
  cursor: pointer;
  color: red;
}

.userProfile:hover {
  cursor: pointer;
  color: red;
}

.toDos:hover {
  cursor: pointer;
  color: red;
}

.gmail-Inbox:hover {
  cursor: pointer;
  color: red;
}

.pixelArt:hover {
  cursor: pointer;
  color: red;
}

.responsiveWeb:hover {
  cursor: pointer;
  color: red;
}
