.gmailInbox-container {
  padding-top: 150px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'gmailInbox-header'
    'gmailInbox-body1';

  #gmailInbox-header {
    text-align: center;
  }
  #gmailInbox-techStatus {
    display: inline-block;
    list-style: none;
    ul {
      list-style-type: none;
      float: left;
    }
  }
  #gmailInbox-body1 {
    text-align: center;
    grid-area: gmailInbox-body1;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: black;
    img {
      height: 700px;
    }
  }
}
