.wrapper-projects {
  display: grid;
  grid-template-columns: 0.02fr 1fr 0.02fr;
  padding-top: 100px;
  padding-bottom: 100px;
  div {
    //border: 1px solid black;
  }

  #middle-side {
    display: grid;
    grid-gap: 15px;
    grid-template-areas:
      '1 2 3'
      '4 5 6';
    height: 1000px;
    width: 100%;
    text-align: center;

    h2 {
      text-transform: capitalize;
    }
    p {
      text-transform: uppercase;
      font-size: 15px;
    }
    font-family: 'Patrick Hand';
    line-height: 90%;
  }

  @media (max-width: 1000px) {
    #middle-side {
      grid-template-areas:
        '1 2'
        '3 4'
        '5 6';
    }
  }

  @media (max-width: 700px) {
    #middle-side {
      grid-template-areas:
        '1'
        '2'
        '3'
        '4'
        '5'
        '6';
    }
  }
}

.hidden-pokemonBattle {
  color: black;
}
.pokemonBattle:hover .hidden-pokemonBattle {
  color: red;
}

.hidden-userProfile {
  color: black;
}
.userProfile:hover .hidden-userProfile {
  color: red;
}

.hidden-toDos {
  color: black;
}
.toDos:hover .hidden-toDos {
  color: red;
}

.hidden-gmailInbox {
  color: black;
}
.gmail-Inbox:hover .hidden-gmailInbox {
  color: red;
}

.hidden-pixelArt {
  color: black;
}
.pixelArt:hover .hidden-pixelArt {
  color: red;
}

.hidden-responsiveWeb {
  color: black;
}
.responsiveWeb:hover .hidden-responsiveWeb {
  color: red;
}
